<div class="formulaire">
  <div class="fomulaire-login-root">
    <div class="formulaire-login">
      <div class="login-logo">
        <h4>Login</h4>

        <span class="material-icons red-color">catching_pokemon</span>
      </div>
      <p *ngIf="erreurLogIn !== ''" style="color: red">{{ erreurLogIn }}</p>
      <div class="login">
        <div class="login-inputs">
          <form>
            <div class="formulaire-pseudo">
              <label for="username">Mail : </label>
              <input matInput type="text" [(ngModel)]="pseudo" [ngModelOptions]="{ standalone: true }" required />
            </div>
            <div class="formulaire-password">
              <label for="password">Password : </label>

              <input
                matInput
                type="password"
                [(ngModel)]="motDepasse"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </form>
        </div>
      </div>
      <input
        type="button"
        id="button-login"
        class="btn btn-outline-danger button-login"
        (click)="login()"
        value="Login"
      />
    </div>
  </div>
  <div class="formulaire-inscription">
    <p>Vous n'avez pas de compte? <a href="inscription" style="color: red; text-decoration: none">Inscrivez vous</a></p>
  </div>
</div>
