<div id="pokemon-list">
  <mat-form-field appearance="fill">
    <mat-label>Pokemon</mat-label>
    <input matInput style="color: white" placeholder="pokemon" [(ngModel)]="param" (keyup)="searchPokemon()" required />
  </mat-form-field>
  <div>
    <h3 style="color: white">Nombre de pokemon :{{ pokemons?.length }}</h3>
  </div>
  <div *ngIf="pokemons?.length === 0"><h3 style="color: white">Aucun Pokémon trouvé</h3></div>

  <mat-nav-list
    style="height: 90%; overflow-y: auto"
    (scrolled)="onScroll($event)"
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
  >
    <!-- "routerLink="/pokemon/{{pokemon.id}}" -->
    <div class="pokemon-list-component">
      <mat-list-item *ngFor="let pokemon of pokemons" (click)="onPokemonSelected(pokemon.id)">
        <img matListAvatar src="../../../assets/img/sprites/{{ pokemon.id }}.png" />

        <div>{{ pokemon.id }} {{ pokemon.name }}</div>
      </mat-list-item>
    </div>
  </mat-nav-list>
</div>
